<!DOCTYPE html>
<style>
#item_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#item_table td, #item_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#item_table tr:nth-child(even){background-color: #f2f2f2; }

#item_table tr:hover {background-color: #ddd;}

#item_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5c6166;
    color: white;
}
</style>
<style type="text/css">
            #search_bar{
                border: 1px solid #000000;
                border-right: none;
                font-size: 16px;
                width: 200px;
                padding: 10px;
                border: none;
                -webkit-border-top-left radius: 10px;
                -webkit-border-bottom-left radius: 10px;
                -moz-border-radius-topLeft: 10px;
                -moz-border-radius-bottomLeft: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            #search_submit{
                border: 1px solid #000000;
                border-left: none;
                font-size: 16px;
                padding: 10px;
                background: #167FFC;
                color: white;
                outline: none;
                cursor: pointer;
                -webkit-border-top-right radius: 10px;
                -webkit-border-bottom-right radius: 10px;
                -moz-border-radius-topRight: 10px;
                -moz-border-radius-bottomRight: 10px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-left: -4px;
            }
            #search_submit:hover{

                background: #333;
                transition: all 0.40s;
            }
            .round {
                width: 100%;
                z-index: 5;
            }
            #drop_down_filter {
                margin-right: 1px;
                margin-top: 1px;
                height: 43px;
                border: 1px solid #000000;
                background-color: #FFFFFF;
                color: black;
                padding: 10px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                outline: none;
                -webkit-border-top-left radius: 10px;
                -webkit-border-bottom-left radius: 10px;
                -moz-border-radius-topLeft: 10px;
                -moz-border-radius-bottomLeft: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

</style>

<script src="../../static/jquery.min.js"></script>
<script src="../../static/popper.min.js"></script>
<script src="../../static/bootstrap.min.js"></script>

<script>
    function checkAdmin()
    {
      var result = readCookie("admin");
      console.log("RESULT: " + result);
      if (result != "yes")
      {
        console.log("ON OTHER PAGE");
        window.location.href = '/admin';
      }
    }

    function getItems(){
        var table = document.getElementById('item_table');
        var itemArray = [];
        var item = "";
        for (var r = 1, n = table.rows.length; r < n; r++) { //Start r at 1, don't need table header values
            // get updated table values
            var id = table.rows[r].cells[0].innerText;
            var name = table.rows[r].cells[1].innerText;
            var weight = table.rows[r].cells[2].innerText;
            var cost = table.rows[r].cells[3].innerText;
            var quantity = table.rows[r].cells[4].innerText;
            var category = table.rows[r].cells[5].innerText;
            var url = table.rows[r].cells[6].innerText;
            var desc = table.rows[r].cells[7].innerText;

            // put item properties into an object to  put into array
            //var item = {"name":name, "weight":weight, "cost":cost, "quantity": quantity,
            //    "category":category, "url":url, "description":desc};
            item += id+"<>"+name+"<>"+weight+"<>"+cost+"<>"+quantity+"<>"+category+"<>"+url+"<>"+desc+" , ";
        }
        document.getElementById('item_array').value = item;

        setTimeout(function()
        {

        }, 1000);

        window.location.href = '/home/admin/';

    }

    function deleting(id)
    {
        //<!--var deleteinput = document.getElementById("deleteinput");-->
        //<!--deleteinput.value = id;-->
        //<!--console.log("ID: " + deleteinput.value);-->
        createCookie("Deleting", id, 1);
    }

    function refreshDelete()
    {
        <!--var deleteinput = document.getElementById("deleteinput");-->
        <!--deleteinput.value = "";-->
        eraseCookie("Deleting");

    }

    /*
creates a cookie with a given name, a value, and a number of days that it is active for
*/
function createCookie(name,value,days)
{
  if (days)
  {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
      var expires = "; expires=" + date.toGMTString();
  }
  else
  {
      var expires = "";
  }
  document.cookie = name + "=" + value + expires + "; path=/";
}

/*
recieve information from a cookie
*/
function readCookie(name)
{
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') {
          c = c.substring(1,c.length);
      }
      if (c.indexOf(nameEQ) == 0) {
          return c.substring(nameEQ.length,c.length);
      }
  }
  return null;
}

/*
erase a cookie
*/
function eraseCookie(name)
{
  createCookie(name,"",-1);
}


</script>

<script type="text/javascript">
    function toggleDropDown() {
    document.getElementById("myDropdown").classList.toggle("show");
}
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e){
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
    function getFilter() {
    document.getElementById("");
}
    /*
    Creates a new cookies or updates an old one when you click on the add to cart button
    Also updates the MainCookie to include this cookie we just added
    */
    function openWindow(obj, name, cost, weight, quantity, image){

      var result = document.getElementById(name).value //recieves the input value for how many of that item we want to add to the cart
      document.getElementById(name).value = 0; //resets the value back to 0 for the amount we want from that item
      console.log("Clicked on the button"); //check to make sure that this function is working
      if(result > 0) //make sure that you have given a quantity for that item
      {
        obj.style.background = 'green'; //change the color of the button to green to confirm that it submitted

        //creating the new cookie for that item
        var oldCookie = readCookie(name);
        if (oldCookie != "") //check to see if you have a previous cookie with this name
        {
          if(oldCookie == null)
          {
            var newCookie = createCookie(name, result + "," + cost + "," + weight + "," + quantity + "," + image, 1); //if you don't have a previous cookie, create a new one with all its values
          }
          else
          {
            var array = oldCookie.split(","); //if you do have an old one, split it and turn it into an array
            var amount = array[0]; //receive the amount that you previously have for that item
            var newCookie = createCookie(name, (Number(result) + Number(amount)) + "," + cost + "," + weight + "," + quantity + "," + image, 1); //add the current amount with the previous value to update the total amount of items you want to purchase
          }

        }
        else {
          var newCookie = createCookie(name, result + "," + cost + "," + weight + "," + quantity + "," + image, 1); //if you don't have a previous cookie, create a new one with all its values
        }

        //updating the MainCookie
        var oldMainCookie = readCookie("MainCookie"); //retrieves the MainCookie
        if (oldMainCookie != "" && oldMainCookie != null) //checks if it is currently empty
        {

          var list = oldMainCookie; //if it is not empty, store the previous value into list
          if(list.indexOf(name) == -1) //check to see if the item already exists in the list
          {
            list += name + ","; //if it does not exist, add it into the list
            var newCookie = createCookie("MainCookie",list, 1); //update the MainCookie with the new value
          }

        }
        else {
          var MainCookie = createCookie("MainCookie", name + ",", 1); //if it is empty, creates a new MainCookie with the new item stored into it
        }

        var tempMainCookie = readCookie("MainCookie"); //read the new updated value in MainCookie
        var tempCurrentCookie = readCookie(name); //read the new updated value for that item cookie
        alert("MainCookie: " + tempMainCookie + "\nJust Added Cookie\n" + name + " : " + tempCurrentCookie); //create an alert that displays this information
      }
      else {
        obj.style.background = 'red'; //if the value of the input is 0, set the color of the button to red
        alert("Please enter a value and click again"); //display that they need to enter a value
      }
    }
    /*
    Display all the cookies for the items we currently have selected
    */
    function ShowAllCookies(){

      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "" && MainCookie != null) //check if that Cookie is empty
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";
        //for each item in the array of the MainCookie, add its value to message
        for (var i = 0; i < array.length-1; i++)
        {
          message += array[i] + ": " + readCookie(array[i]) + "\n";
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all of the cookies
    }
    /*
    Display the URL for the items' pictures
    */
    function ShowAllImages(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[4] + "\n"; //grab the URL in position 4 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the URLs
    }
    /*
    Display the total amount of items you have selected
    */
    function ShowAllCurrentTotal(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[0] + "\n"; //grab the current count in position 0 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the count counts
    }
    /*
    Display the total amount of each item that is curently available in the Database
    */
    function ShowAllQuantities(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[3] + "\n"; //grab the total amount in the database in position 3 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the total amounts from the database
    }
    /*
    Display all the weights per Item
    */
    function ShowAllWeights(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[2] + "\n"; //grab the weight per item in position 2 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the weights
    }
    /*
    Display all the costs for each item
    */
    function ShowAllCosts(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[1] + "\n"; //grab the cost per item in position 1 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the costs
    }
    /*
    delete all of the cookies currently held by MainCookie while also removing them from MainCookie
    */
    function DeleteAllCookies(){

      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "" && MainCookie != null)
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          eraseCookie(array[i]); //delete that item
        }
        createCookie("MainCookie", "", 1); //reset the MainCookie

      }
      //alert(readCookie("MainCookie")); //display current MainCookie, which should be empty
    }
    /*
    creates a cookie with a given name, a value, and a number of days that it is active for
    */
    function createCookie(name,value,days){
      if (days)
      {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
          var expires = "; expires=" + date.toGMTString();
      }
      else
      {
          var expires = "";
      }
      document.cookie = name + "=" + value + expires + "; path=/";
    }
    /*
    recieve information from a cookie
    */
    function readCookie(name){
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') {
              c = c.substring(1,c.length);
          }
          if (c.indexOf(nameEQ) == 0) {
              return c.substring(nameEQ.length,c.length);
          }
      }
      return null;
    }
    /*
    erase a cookie
    */
    function eraseCookie(name){
      createCookie(name,"",-1);
    }
    function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
       function logout() {
        eraseCookie("username");
        eraseCookie("email");
        eraseCookie("tracking_id");
        DeleteAllCookies();
        eraseCookie("Destination");
        
        eraseCookie("Total");
        eraseCookie("Store");
        eraseCookie("gsScrollPos-794");
        eraseCookie("tracking_number");
        eraseCookie("admin");

         window.location.href = '/home/';

       }
</script>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Group 1 Grocery Delivery</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/modern-business.css" rel="stylesheet">


  </head>
  <script>
  function checkAdmin()
  {
    var result = readCookie("admin");
    if (result != "yes")
    {
      window.location.href = '/admin';
    }
    eraseCookie("username");
    eraseCookie("email");
    eraseCookie("tracking_id");
    DeleteAllCookies();
    eraseCookie("Destination");
    
    eraseCookie("Total");
    eraseCookie("Store");
    eraseCookie("gsScrollPos-794");
    eraseCookie("tracking_number");
  }
  checkAdmin();
  </script>
  <!-- <body onload = "addElement()"> -->

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">


        {% if tracking_id %}

        <script type="text/javascript">
        alert("Tracking ID: " + {{tracking_id}})
        </script>
        {% endif %}


        {% if username %}

        <script type="text/javascript">

          var username_server = '{{username}}';
         // alert("data from server :" + username_server);

          createCookie("username", username_server, 365);
          createCookie("email", '{{email}}', 365);
          alert(readCookie("username"));

        </script>


        {% endif %}

          <a class="navbar-brand" href="/admin/home">Admin Page</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">

                  <script type="text/javascript">
                    if(readCookie("username") != "" && readCookie("username") != null){
                      var name = readCookie("username");
                      document.write('<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">');
                      // document.write(' <a class="dropdown-item" href="shoppingcart">Shopping Cart</a>');
                      document.write(' <a class="dropdown-item" onclick="logout()">Log out</a></div>');
                    //  document.write('</div></li>');
                    }
                    else {
                      document.write('<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">');
                      document.write(' <a class="dropdown-item" onclick="logout()" href="/home">Log Out</a>');
                      // document.write(' <a class="dropdown-item" href="shoppingcart">Shopping Cart</a></div>');
                    }

              </script>
            </li>
          </ul>
        </div>
      </div>
    </nav>





    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to Group 1's Grocery Service Admin Page</h1>

      <body onload="refreshDelete()">

<form action ="/admin/home" type ="post">
  <div class = "row">
    <p style="padding-top:10px; padding-right:30px; padding-left:15px;"> Once you have finished changing the data below, click this button:</p>
    <button class="btn btn-primary" style="background-color: #167FFC; border-color: #167FFC "id = "click" href ="/admin/home" type="post" onclick="getItems()">Update Database</button>
  </div>
    <input id = "item_array" type ="hidden" name = "item_array" value = ""/>
</form>



<form action ="/admin/home" method ="post">
  <div class = "row" style="width:100%; padding:10px; padding-left:15px;">
    <input name="add_name_field"  type = "text" placeholder="Name" maxlength="95" style = " text-align: center; width: 15%; padding:10px; padding-right:5px;">
    <input name="add_weight_field" onkeypress="return isNumberKey(event)" type = "text" maxlength="3" placeholder="Weight"style = " text-align: center; width: 10%">
    <input name="add_cost_field" onkeypress="return isNumberKey(event)" type = "text" maxlength="3" placeholder="Cost"style = " text-align: center; width: 10%">
    <input name="add_quantity_field"  onkeypress="return isNumberKey(event)" type = "text" maxlength="3" placeholder="Amount"style = " text-align: center; width: 10%">
    <input name="add_category_field" type = "text" list="categories" placeholder="Category"style = " text-align: center; width: 10%">
    <input name="add_image_field" type = "text" maxlength="195" placeholder="Picture URL"style = " text-align: center; width: 18%">
    <input name="add_desc_field" type = "text" maxlength="95" placeholder="Description"style = " text-align: center; width: 18%">
    <button class = "btn btn-primary"  style="background: #09A64D; border-color: #09A64D;" name = "add_item"  >Add Item</button>
    <datalist id="categories">
      <option value="Fruit">
      <option value="Vegtable">
      <option value="Meat">
      <option value="Dairy">
      <option value="Seafood">
      <option value="Grains">
    </datalist>
    {% csrf_token %}
  </div>
</form>

<table id = "item_table" style="width:100%; ">
    <tr>
        <th> ID# </th>
        <th> Name </th>
        <th> Weight </th>
        <th> Cost </th>
        <th> Quantity </th>
        <th> Category </th>
        <th> Image </th>
        <th> Description </th>
        <th> Delete Item</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.id}}</td>
        <td><div contenteditable value = "{{item.name}}"> {{item.name}}</div></td>
        <td><div contenteditable> {{item.weight}}</div></td>
        <td><div contenteditable> {{item.cost}}</div></td>
        <td><div contenteditable> {{item.quantity}}</div></td>
        <td><div contenteditable> {{item.tags}}</div></td>
        <td><div contenteditable style="width:150px;"> {{item.image}} </div></td>
        <td><div contenteditable> {{item.description}}</div></td>
        <form value = "DELETE" name = "DELETE" method = "post">
            <td align="center">
              <button style="background-color:red; border-color:red " class = "btn btn-primary" onclick="deleting({{item.id}})" name = "Delete {{item.name}}">Delete {{item.name}}</button>
            </td>
                <input type="hidden" id="deleteinput" name="deleteinput" value = "" />
            {% csrf_token %}
        </form>


    </tr>
    {% endfor %}

</table>
</body >


      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Group 1 CS 160 2017</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>
