
<!DOCTYPE html>

<html>
<link rel="stylesheet" href="../../static/credit_card_div.css" />

<!-- Google api key AIzaSyBShRAptz8wAkaa-iIIfbY6OOhsF-8_GUg

-->
<!-- <input type="text" id="location"> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBShRAptz8wAkaa-iIIfbY6OOhsF-8_GUg&libraries=places"></script>
<script type="text/javascript">
(document).ready(function () {
google.maps.event.addDomListener(window, 'load', initialize);
});

function initialize() {
var input = document.getElementById('location');
var autocomplete = new google.maps.places.Autocomplete(input);
}

</script>


<script type="text/javascript">

function AutofillCreditCard()
{

  var input = readCookie("CreditInfo");
  //alert("Click Check Box: " + input);
  if(input != "" && input != null)
  {
    var array = input.split(",");
    if (array.length > 1)
    {
        var NameonCard1 = array[0];
        var zipcode1 = array[1];
        var CreditCardNumber= array[2];
        var ccv = array[3];
        var NameonCardInput = document.getElementById("Name");
        NameonCardInput.value = NameonCard1;
        var zipcodeinput = document.getElementById("ZipCode1");
        zipcodeinput.value = zipcode1;
        var CreditCardNumberinput = document.getElementById("CreditCardNum");
        CreditCardNumberinput.value = CreditCardNumber;
        var ccvinput = document.getElementById("ccv");
        ccvinput.value = ccv;
    }
    else
    {
        alert("No previous credit card stored. Please update in your profile page.");
    }

  }
}

function ShowAutofillCreditCardCookie()
{
  //alert("CreditInfo: " + readCookie("CreditInfo"));
}
function DeleteAutofillCreditCardCookie()
{
  createCookie("CreditInfo", "", -1);
}
function CreateAutofillCreditCardCookie()
{
  //createCookie("Destination", "1234 Main Street, San Jose, CA, 94521 ", 1);
 // createCookie("CreditInfo", "Test,9342,92830284,8345 ", 1);
  //alert(readCookie("CreditInfo"));
}



function Autofill()
{

  var input = readCookie("Destination");
  //alert("Click Check Box: " + input);
  if(input != "none" || input != null)
  {
    var array = input.split(",");
    if(array.lenth > 1)
    {
        var streetname1 = array[0];
        var cityname = array[1];
        var statename= array[2];
        var zipcode1 = array[3];

        var streetinput = document.getElementById("Street");
        streetinput.value = streetname1;
        var citynameinput = document.getElementById("City");
        citynameinput.value = cityname;
        var statenameinput = document.getElementById("State");
        statenameinput.value = statename;
        var zipcodeinput = document.getElementById("ZipCode");
        zipcodeinput.value = zipcode1;
    }
    else {
        alert("No previous address stored. Please update in your profile page.");
        document.getElementById("AddressCheckbox").checked = false;
    }



  }
}

function ShowAutofillCookie()
{
  //alert("Store Cookie: " + readCookie("Destination"));
}
function DeleteAutofillCookie()
{
  createCookie("Destination", "", -1);
}
function CreateAutofillCookie()
{
  //createCookie("Destination", "1234 Main street, San Jose, CA,94521", 1);
  //alert(readCookie("Destination"));
}

function DeleteAllCookies(){

  var MainCookie = readCookie("MainCookie"); //read the MainCookie
  if (MainCookie != "" && MainCookie != null)
  {
    var array = MainCookie.split(","); //split that result and turn it into an array with all the items

    //for each item in the array of the MainCookie
    for (var i = 0; i < array.length-1; i++)
    {
      eraseCookie(array[i]); //delete that item
    }
    createCookie("MainCookie", "", 1); //reset the MainCookie

  }
  //alert(readCookie("MainCookie")); //display current MainCookie, which should be empty
}

 function SetStoreID()
 {
   var input = document.getElementById("store");
   input.value = readCookie("Store");
 }
 function ShowStoreCookie()
 {
   //alert("Store Cookie: " + readCookie("Store"));
 }
 function DeleteStoreCookie()
 {
   createCookie("Store", "", -1);
 }
 function CreateStoreCookie()
 {
   createCookie("Store", "1", 1);
 }

function logout() {
     eraseCookie("username");
     eraseCookie("email");
     eraseCookie("tracking_id");
     eraseCookie("user_id");
     DeleteAllCookies();
     eraseCookie("Destination");
     eraseCookie("csrftoken");
     eraseCookie("Total");
     eraseCookie("Store");
     eraseCookie("card");
     eraseCookie("Total");
     eraseCookie("CreditInfo");
     eraseCookie("gsScrollPos-794");
     eraseCookie("tracking_number");

      window.location.href = '/home/';

    }

 function createCookie(name,value,days)
 {
       if (days)
       {
           var date = new Date();
           date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
           var expires = "; expires=" + date.toGMTString();
       }
       else
       {
           var expires = "";
       }
       document.cookie = name + "=" + value + expires + "; path=/";
 }
 function readCookie(name)
   {
     var nameEQ = name + "=";
     var ca = document.cookie.split(';');
     for(var i=0;i < ca.length;i++) {
         var c = ca[i];
         while (c.charAt(0)==' ') {
             c = c.substring(1,c.length);
         }
         if (c.indexOf(nameEQ) == 0) {
             return c.substring(nameEQ.length,c.length);
         }
     }
     return null;
   }
   function check_login_for_payment() {
     // alert("This works");
     if(readCookie("user_id") != null || readCookie("user_id") != "") {
       //alert(readCookie("user_id")  + " login");
      document.getElementById('username_id').value=readCookie("user_id");
     } else {
       alert("Login required before purchase");
       window.location.replace('login_register');
     }
   }
   check_login_for_payment();

   function sendToHomePage()
   {
     DeleteAllCookies();
     //alert("Main Cookie: " + readCookie("MainCookie"));
     window.location.href = '/home/';
   }


 </script>
<script src="../../home/creditcardvalidator.js" type="text/javascript"></script>

<head>
 <meta charset="UTF-8">
 <title>Payment</title>

 </head>


<body onload="CreateAutofillCreditCardCookie()">
 <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>


<ul>
  <li><a class="active" href="/home/">Back To Homepage</a></li>

</ul>

 <form action="/home/creditcard" method="post"  class="credit-card-div">

     {% csrf_token %}
       {{ form.as_p }}
   <div class="form-container">
     <div class="personal-information">
       <h1>Shipping Information</h1>
     </div> <!-- end of personal-information -->
     <input type="checkbox" name="destination" value="Destination" onclick="Autofill()"> To use existing address<br>
     <!-- <input id="input-field" type="text" name="Street_Name" required="required" autocomplete="Street_Name" maxlength="45" placeholder="Street Address"/> -->
     <!-- <input id="column-left" type="text" name="City" required="required" autocomplete="City" maxlength="40" placeholder="City"/>
     <input id="column-right" type="text" name="Zip_Code" required="required" autocomplete="Zip_Code" pattern="[0-9]*" maxlength="5" placeholder="ZIP code"/>
     <input id="input-field" type="text" name="State" required="required" autocomplete="State" minlength="2" maxlength="2" placeholder="State - Ex CA"/>
     <input id="input-field" type="email" name="email" required="required" autocomplete="email" maxlength="40" placeholder="Email Address"/> -->

     <input id="Street" type="text" name="Street_Name" required="required" autocomplete="Street_Name" maxlength="45" placeholder="Street Address"/>
     <input id="City" type="text" name="City" required="required" autocomplete="City" maxlength="40" placeholder="City"/>
     <input id="ZipCode" type="text" name="Zip_Code" required="required" autocomplete="Zip_Code" pattern="[0-9\s]*" maxlength="5" placeholder="ZIP code"/>
     <input id="State" type="text" name="State" required="required" autocomplete="State" minlength="2" maxlength="2" placeholder="State - Ex CA"/>



     <div class="personal-information">
       <h1>Credit Card Information</h1>
     </div> <!-- end of Credit Card-information -->
      <input type="checkbox" id = "AddressCheckbox" name="creditcard" value="CreditInfo" onclick="AutofillCreditCard()"> To use existing Credit Card<br>
         <input id="Name" type="text" name="NameOnCard" required="required" placeholder="Name"/>
         <input id="ZipCode1" type="text" name="Card_Zipcode" required="required" pattern="[0-9\s]*" minlength="4" maxlength="5" placeholder="Zip Code"/>
         <input id="CreditCardNum" type="text" size ="19" required="required" minlength="8" maxlength="16" pattern="[0-9\s]*" name="Credit_Card_Number" placeholder="1234567890123456"/>
         <input id="ccv" type="text" name="CSV" pattern="[0-9\s]*" required="required" minlength="3" maxlength="4" placeholder="CCV"/>
         <input id="exp_date" type="text" name="exp_date" pattern="[0-9\s]*" required="required" minlength="6" maxlength="6" placeholder="mmyyyy"/>

         <input id="input-button" type="submit" onclick="sendToHomePage()" name = "submit_payment" value="Submit"/>

         <!-- <input id="store" type="hidden" name="store_id" required="required" autocomplete="on" pattern=[0-9]* placeholder="store id, Select 1 or 2" -->
         <input id="store_id" type="hidden" name="store_id" value="1" />
         <input id="username_id" type="hidden" name="user_id" value="" />

 </form>
 <!-- <button onclick="CreateStoreCookie()"> CLICK TO CREATE COOKIE </button>
 <button onclick="ShowStoreCookie()"> CLICK TO SHOW COOKIE </button>
 <button onclick="DeleteStoreCookie()"> CLICK TO DELETE COOKIE </button> -->
</div>

<script type="text/javascript">
  check_login_for_payment();
</script>



    <script src="../../static/jquery.min.js"></script>
    <script src="../../static/popper.min.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</body>
</html>


<!-- THIS IS FOR THE SCRIPT -->
<!-- <script src="../../static/creditcardvalidation.js"></script> -->
