<!DOCTYPE html>
<style type="text/css">
            #search_bar{
                border: 1px solid #000000;
                border-right: none;
                font-size: 16px;
                width: 200px;
                padding: 10px;
                border: none;
                -webkit-border-top-left radius: 10px;
                -webkit-border-bottom-left radius: 10px;
                -moz-border-radius-topLeft: 10px;
                -moz-border-radius-bottomLeft: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            #search_submit{
                border: 1px solid #000000;
                border-left: none;
                font-size: 16px;
                padding: 10px;
                background: #167FFC;
                color: white;
                outline: none;
                cursor: pointer;
                -webkit-border-top-right radius: 10px;
                -webkit-border-bottom-right radius: 10px;
                -moz-border-radius-topRight: 10px;
                -moz-border-radius-bottomRight: 10px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin-left: -4px;
            }
            #search_submit:hover{

                background: #333;
                transition: all 0.40s;
            }
            .round {
                width: 100%;
                z-index: 5;
            }
            #drop_down_filter {
                margin-right: 1px;
                margin-top: 1px;
                height: 43px;
                border: 1px solid #000000;
                background-color: #FFFFFF;
                color: black;
                padding: 10px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                outline: none;
                -webkit-border-top-left radius: 10px;
                -webkit-border-bottom-left radius: 10px;
                -moz-border-radius-topLeft: 10px;
                -moz-border-radius-bottomLeft: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

</style>

<script src="../../static/jquery.min.js"></script>
<script src="../../static/popper.min.js"></script>
<script src="../../static/bootstrap.min.js"></script>

<script type="text/javascript">
    function toggleDropDown() {
    document.getElementById("myDropdown").classList.toggle("show");
}
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e){
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
    function getFilter() {
    document.getElementById("");
}
    /*
    Creates a new cookies or updates an old one when you click on the add to cart button
    Also updates the MainCookie to include this cookie we just added
    */
    function openWindow(obj, name, cost, weight, quantity, image){

      var result = document.getElementById(name).value //recieves the input value for how many of that item we want to add to the cart
      document.getElementById(name).value = 0; //resets the value back to 0 for the amount we want from that item
      console.log("Clicked on the button"); //check to make sure that this function is working
      if(result > 0) //make sure that you have given a quantity for that item
      {
        obj.style.background = 'green'; //change the color of the button to green to confirm that it submitted

        //creating the new cookie for that item
        var oldCookie = readCookie(name);
        if (oldCookie != "") //check to see if you have a previous cookie with this name
        {
          if(oldCookie == null)
          {
            var newCookie = createCookie(name, result + "," + cost + "," + weight + "," + quantity + "," + image, 1); //if you don't have a previous cookie, create a new one with all its values
          }
          else
          {
            var array = oldCookie.split(","); //if you do have an old one, split it and turn it into an array
            var amount = array[0]; //receive the amount that you previously have for that item
            var newCookie = createCookie(name, (Number(result) + Number(amount)) + "," + cost + "," + weight + "," + quantity + "," + image, 1); //add the current amount with the previous value to update the total amount of items you want to purchase
          }

        }
        else {
          var newCookie = createCookie(name, result + "," + cost + "," + weight + "," + quantity + "," + image, 1); //if you don't have a previous cookie, create a new one with all its values
        }

        //updating the MainCookie
        var oldMainCookie = readCookie("MainCookie"); //retrieves the MainCookie
        if (oldMainCookie != "" && oldMainCookie != null) //checks if it is currently empty
        {

          var list = oldMainCookie; //if it is not empty, store the previous value into list
          if(list.indexOf(name) == -1) //check to see if the item already exists in the list
          {
            list += name + ","; //if it does not exist, add it into the list
            var newCookie = createCookie("MainCookie",list, 1); //update the MainCookie with the new value
          }

        }
        else {
          var MainCookie = createCookie("MainCookie", name + ",", 1); //if it is empty, creates a new MainCookie with the new item stored into it
        }

        var tempMainCookie = readCookie("MainCookie"); //read the new updated value in MainCookie
        var tempCurrentCookie = readCookie(name); //read the new updated value for that item cookie
        alert("MainCookie: " + tempMainCookie + "\nJust Added Cookie\n" + name + " : " + tempCurrentCookie); //create an alert that displays this information
      }
      else {
        obj.style.background = 'red'; //if the value of the input is 0, set the color of the button to red
        alert("Please enter a value and click again"); //display that they need to enter a value
      }
    }
    /*
    Display all the cookies for the items we currently have selected
    */
    function ShowAllCookies(){

      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "" && MainCookie != null) //check if that Cookie is empty
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";
        //for each item in the array of the MainCookie, add its value to message
        for (var i = 0; i < array.length-1; i++)
        {
          message += array[i] + ": " + readCookie(array[i]) + "\n";
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all of the cookies
    }
    /*
    Display the URL for the items' pictures
    */
    function ShowAllImages(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[4] + "\n"; //grab the URL in position 4 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the URLs
    }
    /*
    Display the total amount of items you have selected
    */
    function ShowAllCurrentTotal(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[0] + "\n"; //grab the current count in position 0 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the count counts
    }
    /*
    Display the total amount of each item that is curently available in the Database
    */
    function ShowAllQuantities(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[3] + "\n"; //grab the total amount in the database in position 3 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the total amounts from the database
    }
    /*
    Display all the weights per Item
    */
    function ShowAllWeights(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[2] + "\n"; //grab the weight per item in position 2 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the weights
    }
    /*
    Display all the costs for each item
    */
    function ShowAllCosts(){
      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "")
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items
        var message = "";

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          var currentCookie = readCookie(array[i]); //read that cookie
          var innerArray = currentCookie.split(","); //split it by the commas
          message += array[i] + ": " + innerArray[1] + "\n"; //grab the cost per item in position 1 of the array for this cookie
        }

      }
      alert("MainCookie: " + readCookie("MainCookie") + "\n" + "Rest of the cookies: \n" + message); //display all the costs
    }
    /*
    delete all of the cookies currently held by MainCookie while also removing them from MainCookie
    */
    function DeleteAllCookies(){

      var MainCookie = readCookie("MainCookie"); //read the MainCookie
      if (MainCookie != "" && MainCookie != null)
      {
        var array = MainCookie.split(","); //split that result and turn it into an array with all the items

        //for each item in the array of the MainCookie
        for (var i = 0; i < array.length-1; i++)
        {
          eraseCookie(array[i]); //delete that item
        }
        createCookie("MainCookie", "", 1); //reset the MainCookie

      }
      alert(readCookie("MainCookie")); //display current MainCookie, which should be empty
    }
    /*
    creates a cookie with a given name, a value, and a number of days that it is active for
    */
    function createCookie(name,value,days){
      if (days)
      {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
          var expires = "; expires=" + date.toGMTString();
      }
      else
      {
          var expires = "";
      }
      document.cookie = name + "=" + value + expires + "; path=/";
    }
    /*
    recieve information from a cookie
    */
    function readCookie(name){
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') {
              c = c.substring(1,c.length);
          }
          if (c.indexOf(nameEQ) == 0) {
              return c.substring(nameEQ.length,c.length);
          }
      }
      return null;
    }
    /*
    erase a cookie
    */
    function eraseCookie(name){
      createCookie(name,"",-1);
    }
    function logout() {
     eraseCookie("username");
     eraseCookie("email");
     eraseCookie("tracking_id");
     DeleteAllCookies();
     eraseCookie("Destination");
     eraseCookie("csrftoken");
     eraseCookie("Total");
     eraseCookie("Store");
     eraseCookie("gsScrollPos-794");
     eraseCookie("tracking_number");

      window.location.href = '/home/';

    }

    function moveToProfile()
    {
      window.location.href = '/home/profile';
    }
</script>
<html>
  <head>
    <title>Simple Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 60%;
      width: 100%;
      margin-bottom: 5%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 1%;
      padding: 1%;
      }
      .input_tracking {
      width: 60%;
      margin:1% auto 0 auto;
      }
      #fname {
      width: 100%;
      padding: 12px 20px;
      margin:1% auto 0 auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      }
      .delivery .imgcircle, .dispatch span.line   {
      background-color:#98D091;
      }
      body{background-color: #fff;}
      .social-icon {
      list-style: none;
      padding: 0;
      margin: 0;
      }
      .social-icon li{
      display: inline-block;
      text-align: center;
      }
      .social-icon a {
      display: block;
      width: 44px;
      height: 44px;
      line-height: 44px;
      border-radius: 50%;
      margin-right: 5px;
      }
      .social-icon a {
      background: rgba(255, 255, 255, 0.85); /* social icon background color */
      color: #000; /* social icon color */
      }
      .social-icon a:hover {
      background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
      color: #fff; /* social icon hover color */
      }
      .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 1rem;
      background-color: #343a40;
      }
    </style>
    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/modern-business.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/modern-business.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="../../static/style2.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    {% if tracking_error %}
    <script type="text/javascript">
      alert('{{tracking_error}}');
      window.location.replace('tracking');
    </script>
    {% endif %}
    <!-- <div class="input_tracking">
      <form method="Post" action="tracking_home">
        {% csrf_token %}

      <input type="text" id="fname" name="firstname" placeholder="Enter Tracking Number">

      </div> -->
    <!--Navigation bar-->
    <script></script>
    <!-- Navigation -->
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">


        {% if tracking_id %}

        <script type="text/javascript">
        alert("Tracking ID: " + {{tracking_id}})
        createCookie("tracking_number", '{{tracking_id}}', 7);
        </script>
        {% endif %}


        {% if username %}

        <script type="text/javascript">

          var username_server = '{{username}}';
         // alert("data from server :" + username_server);
         var expiration_days = 7
          createCookie("username", username_server, expiration_days);
          createCookie("email", '{{email}}', expiration_days);
          createCookie("address", '{{address}}', expiration_days);
          createCookie("Destination",'{{address}}', expiration_days);
          createCookie("CreditInfo", '{{payment}}', expiration_days);
          createCookie("user_id", '{{u_id}}', expiration_days);
          createCookie("tracking_number", '{{tracking_number}}', expiration_days);


        </script>


        {% endif %}

          <a class="navbar-brand" href="/home/">Group 1 Grocery Store</a>




        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <!--- Search Bar --->
             <form action="/home/search.html" type="get">
                 <select id="drop_down_filter" name="drop_down_filter">
                   <option value="Categories">Categories</option>
                   <option value="Fruit">Fruits</option>
                   <option value="Vegetable">Vegetables</option>
                   <option value="Meat">Meats</option>
                   <option value="Dairy">Dairies</option>
                   <option value="Seafood">Seafood</option>
                  <option value="Grains">Grains</option>
                 </select>
                 <input id="search_bar" type="text" name="search_bar" placeholder="Search..." class="round">
                 <button id="search_submit" type="submit">Go</button>
             </form>

            <li class="nav-item" style="">
              <a class="nav-link" href="/admin/">Admin Page</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/home/tracking_home">Tracking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/contact_us">Contact</a>
            </li>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li> -->


            <li class="nav-item">
              <a class="nav-link" href="/home/shoppingcart">
              <img src= "http://www.inmotionhosting.com/support/images/stories/icons/ecommerce/empty-cart-light.png" style="vertical-align: initial;" height="35" width="35">
              </a>

            </li>

            <li class="nav-item dropdown">

                  <script type="text/javascript">
                    if(readCookie("username") != "" && readCookie("username") != null){
                      var name = readCookie("username");
                      document.write('<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + name + '</a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">');
                       document.write(' <a class="dropdown-item" href="/home/profile">Profile</a>');
                      document.write(' <a class="dropdown-item" onclick="logout()">Log out</a></div>');
                    //  document.write('</div></li>');
                    }
                    else {
                      document.write('<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">');
                      document.write(' <a class="dropdown-item" href="/home/login_register">Log in/Register</a>');
                      // document.write(' <a class="dropdown-item" href="shoppingcart">Shopping Cart</a></div>');
                    }

                  </script>

          </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--end of Navigation bar-->
    <div class="content">
      <div class="content1">
        <h2 id="track_id">Tracking No:</h2>
      </div>
      <div class="content2">
        <div class="content2-header1">
          <p>Estimate time : <span id="estimate_time"></span></p>
        </div>
        <div class="content2-header1">
          <p>Status : <span id="delivery_status">Item Dispatched</span></p>
        </div>
        <div class="content2-header1">
          <p>Expected Date : <span id="delivery_date">7-NOV-2015</span></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content3">
        <div class="shipment">
          <div class="confirm">
            <div class="imgcircle">
              <img src="../../static/img/confirm.png" alt="confirm order">
            </div>
            <span class="line"></span>
            <p>Confirmed </p>
          </div>
          <div class="process">
            <div class="imgcircle">
              <img src="../../static/img/process.png" alt="process order">
            </div>
            <span class="line"></span>
            <p>Processing </p>
          </div>
          <div class="quality">
            <div class="imgcircle">
              <img src="../../static/img/quality.png" alt="quality check">
            </div>
            <span class="line"></span>
            <p>Quality Check</p>
          </div>
          <div class="dispatch">
            <div class="imgcircle">
              <img src="../../static/img/drone.png" alt="dispatch product">
            </div>
            <span class="line"></span>
            <p>Dispatched </p>
          </div>
          <div class="delivery" >
            <div class="imgcircle" id="delivery_id">
              <img src="../../static/img/delivery.png" alt="delivery">
            </div>
            <p> Delivered</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="map" "></div>
    </div>
    {% if destination %}
    <script type="text/javascript">
      var destination = '{{destination}}';
      //destination = "alameda,ca";
      var current_lang = '{{current_lang}}';

      var cordinate = current_lang;
      current_lang = Number(current_lang);
      // alert(current_lang);
      var current_lat = '{{current_lat}}';
      cordinate = cordinate +","+ current_lang;
      current_lat = Number(current_lat);

      var delivery_status = '{{status}}'
      var track_id = '{{track_id}}'

    </script>
    {% endif %}
    <!--
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

      <footer class="footer">
        <div class="container">
      <ul class="social-icon animate pull-right">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>  change the link to social page and edit title
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  </div>
      </footer> -->
    <script>
      //
            function getDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                  dd = '0'+dd
                }

                    if(mm<10) {
                        mm = '0'+mm
                    }

                return mm + '/' + dd + '/' + yyyy;

            }

      // global variables

        var i = 0, howManyTimes;
        var marker;
        var map = null;
        var totalTime;
        var expectedTime;
        var interval_update;
        var interval_flag = 0;
        var sleep_time = 100;

      /*
      This function wil set marker at particular location and remove  marker from map
      which will show as marker is moving
    */

    var myAudio = new Audio('../../static/sound/sound.mp3');
    var myAudio2 = new Audio('../../static/sound/drop.mp3');

    if(delivery_status == 1) {
      alert("already delived");
       document.getElementById("delivery_id").setAttribute("style"," background-color: green;");
      document.getElementById("delivery_status").textContent = 'Delivered';
      document.getElementById("estimate_time").textContent = '0 min';

      function initMap() {

            // Create a map object and specify the DOM element for display.
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 37.324240, lng: -121.882652},
              zoom: 8
            });


      }
    }

      function f() {
        if (i > 0) {
            marker.setMap(null);

                 expectedTime = expectedTime - interval_update;

                document.getElementById("estimate_time").textContent = parseInt(expectedTime) +  ' min';


               myAudio.play();

        }

          marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i].lat(),locations[i].lng()),
                        map: map,
                        icon: new google.maps.MarkerImage(
             // URL
                                                          '../../static/img/drone.png',
                                                          // (width,height)
                                                          new google.maps.Size(50, 50),
                                                          // The origin point (x,y)
                                                          new google.maps.Point(0, 0),
                                                          // The anchor point (x,y)
                                                          new google.maps.Point(22, 32))
                                                                  });

          marker.id = i;
          i++;

          if( i < howManyTimes ){
            // alert(howManyTimes +" , "+ totalTime +" , "+ expectedTime +  " , " + interval_flag+","+ interval_update);

              setTimeout( f, sleep_time );
          } else {
            document.getElementById("delivery_status").textContent = 'Delivered';
            document.getElementById("estimate_time").textContent = '0 min';
            document.getElementById("delivery_id").setAttribute("style"," background-color: green;");
             myAudio.pause();
             myAudio2.play();


          }
      }



             function initMap() {


              var from = {lat: current_lang, lng: current_lat};

               map = new google.maps.Map(document.getElementById('map'), {
                center: from,
                zoom: 7
              });

              var directionsDisplay = new google.maps.DirectionsRenderer({
                suppressMarkers: true,map:map
              });

              // Set destination, origin and travel mode.
            // alert(destination);
              var request = {
                destination: destination,
                origin: from,
                travelMode: 'DRIVING'
              };
      // Making marker here with given position, icon, title and map

      function makeMarker(position, icon, title, map) {
              new google.maps.Marker({
                  position: position,
                  map: map,
                  icon: icon,
                  title: title
              });
          }
      // set icons
          var icons = {
              start: new google.maps.MarkerImage(
              // URL
              '../../static/img/store.png',
              // (width,height)
              new google.maps.Size(50, 50),
              // The origin point (x,y)
              new google.maps.Point(0, 0),
              // The anchor point (x,y)
              new google.maps.Point(22, 32))
              // The origin point (x,y)
             ,
              end: new google.maps.MarkerImage(
              // URL
              'http://maps.google.com/mapfiles/ms/micons/green.png',
              // (width,height)
              new google.maps.Size(44, 32),
              // The origin point (x,y)
              new google.maps.Point(0, 0),
              // The anchor point (x,y)
              new google.maps.Point(22, 32)),
              start_1: new google.maps.MarkerImage(
              // URL
            '../../static/img/store.png',
              // (width,height)
              new google.maps.Size(50, 50),
              // The origin point (x,y)
              new google.maps.Point(0, 0),
              // The anchor point (x,y)
              new google.maps.Point(22, 32))
              // The origin point (x,y)
             ,
          };

              // Pass the directions request to the directions service.
              var directionsService = new google.maps.DirectionsService();
              directionsService.route(request,  function(response, status) {
                if (status == 'OK') {
                  // Display the route on the map.
                  var distance = response.routes[0].legs[0].distance.value * 0.00062137119223733; // for convert to miles
                  var duration = response.routes[0].legs[0].duration.value;
                  duration = Math.ceil(duration / 60);
                  totalTime = Math.ceil(duration);
                  expectedTime = Math.ceil(totalTime);


                  //var paths = response.routes[0].overview_path;
                  // var legs = response.routes[0].legs;
                  // alert(legs);
                  distance = distance.toFixed(2);



                  document.getElementById("delivery_date").textContent = getDate() ;
                  document.getElementById("track_id").textContent = 'Tracking No: ' + track_id;
                  if(delivery_status == 0) {
                    document.getElementById("delivery_id").setAttribute("style"," background-color: lightgray;");
                    document.getElementById("delivery_status").textContent = 'Dispatched';
                    document.getElementById("estimate_time").textContent = duration;

                  } else if(delivery_status == 1){

                    document.getElementById("delivery_id").setAttribute("style"," background-color: green;");
                    document.getElementById("delivery_status").textContent = 'Delivered';
                    document.getElementById("estimate_time").textContent = '0 min';

                  }

                  //span.textContent = duration;

                //  alert(distance +"miles , "+ duration); // the distance in metres
                  directionsDisplay.setDirections(response);
                  var leg = response.routes[0].legs[0];
                   makeMarker(leg.start_location, icons.start, "destination", map);
                      makeMarker(leg.end_location, icons.end, 'title', map);

                    locations = response.routes[0].overview_path;


                   howManyTimes = locations.length;

                   if(howManyTimes < 100) {
                      sleep_time = 500;

                   } else if(howManyTimes > 100) {
                    sleep_time = 50;

                   }
                   if(howManyTimes > totalTime) {
                     //  interval_update = Math.ceil(howManyTimes/totalTime);
                        interval_update = totalTime/howManyTimes;
                   } else {
                       interval_update = howManyTimes/totalTime;
                   }


      // Calling function to move marker on map
                    f();



                } else {
                  alert("Google map fail");
                }
              });
            }




    </script>
    <script src="../../static/jquery.min.js"></script>
    <script src="../../static/popper.min.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3WKK9u3RkP7UMDwh4_UWtz6h_PIoK3Q&callback=initMap" async defer></script>
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/cookies_handler.js"></script>
  </body>
</html>
