<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shopping Cart</title>
    <!-- Latest compiled and minified CSS -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../static/shoppingcart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/shoppingcart.css" rel="stylesheet">
</head>



<body>
<script>parseMainCookie(); </script>
<div class="content" data-content>
    <div class="container">
        <div class="main" role="main">
            <h1 style=>My Cart</h1>
            <a href="../home/" class="continue">Continue Shopping</a> <!--need redirect link-->
        </div>
        <div class="cart" id=myCart>
        <script>getProductList();</script>
        </div>
        <div class="weightChecker"><label for="w">Weight Checker</label>
            <p id="weight" name="w"></p>
            <a href="#" class="btn"></a></div>
        <div class="subtotal">
            <ul>
                <li class="totalRow"><span class="label">Subtotal</span><span class="value"><script>getSubTotal();</script></span></li>
                <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>
                <li class="totalRow"><span class="label">Tax (9.00%)</span><span class="value"><script>getTax();</script></span></li>
                <li class="totalRow final"><span class="label">Total</span><span class="value"><script>getFinalTotal();</script></span></li>
                <li class="totalRow"><a href="/home/creditcard" class="continue checkout">Checkout</a></li>
                <script>getWeight();</script>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
