
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 1%;
        padding: 1%;
      }

      input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    </style>

    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrap.min.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    <link href="../../static/modern-business.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/modern-business.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="../../static/style2.css" rel="stylesheet" type="text/css" media="all" />

  </head>
  <body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
       <div class="container">

         {% if username %}
         <script type="text/javascript">

           var username_server = '{{username}}';
          // alert("data from server :" + username_server);

           setCookie("username", username_server, 365);


         </script>
         <a class="navbar-brand" href="index.html"> Hi {{ username }}</a>

         {% else %}
         <a class="navbar-brand" href="index.html">Hello</a>
         {% endif %}


         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">

             <li class="nav-item">
               <a class="nav-link" href="tracking_home" target="_blank">Tracking</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="contact_us">Contact</a>
             </li>

             <li class="nav-item dropdown">

                 <script type="text/javascript">

                   if(getCookie("username") != "" && getCookie("username")  != null){
                     document.write('<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a><div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">');
                     document.write(' <a class="dropdown-item" href="blog-post.html">Shopping Cart</a>');
                     document.write(' <a class="dropdown-item" onclick="logout()">Log out</a></div>');
                   //  document.write('</div></li>');
                   } else {

                      document.write('<li class="nav-item"><a class="nav-link" href="login_register">Login/Register</a></li>');

                   }

                 </script>

         </li>
           </ul>
         </div>
       </div>
     </nav>


  	<div>

    <label for="fname">Tracking Page</label>
    <form method="Post" action="tracking_home">
      {% csrf_token %}
    <input type="text" id="tracking_id" name="tracking_number" placeholder="Enter Tracking Number" >
    </form>

</div>


    <div id="map"></div>
    <script>


      var n =  document.getElementById('tracking_id').value;


      if(n.length > 0) {


          function initMap() {
        var chicago = {lat: 37.324240, lng: -121.882652};
        var indianapolis = {lat: 37.556315, lng: -122.005726};

        var map = new google.maps.Map(document.getElementById('map'), {
          center: chicago,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

        // Set destination, origin and travel mode.
        var request = {
          destination: indianapolis,
          origin: chicago,
          travelMode: 'DRIVING'
        };

        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
            // Display the route on the map.
            directionsDisplay.setDirections(response);
          }
        });
      }
      } else {

        function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.324240, lng: -121.882652},
          zoom: 8
        });


      }
      }


    </script>
    <script src="../../static/jquery.min.js"></script>
    <script src="../../static/popper.min.js"></script>
    <script src="../../static/bootstrap.min.js"></script>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3WKK9u3RkP7UMDwh4_UWtz6h_PIoK3Q&callback=initMap"
    async defer></script>
  </body>
</html>
